/* variables */
/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #a50606;
}

.container-fluid {
  display: flex;
  justify-content: space-between !important;
}

/* medias querys */
@media screen and (max-width: 768px) {
  .background-inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .background-inicio .inicio h1 {
    margin-top: -100px;
    position: relative;
    top: -40px;
    margin-top: -20px;
    font-size: 24px;
    text-align: center;
    position: relative;
  }
  .boton {
    margin-top: 100px;
  }
  .madre {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .promocion {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .promocion-producto {
    margin: 0 auto;
    max-width: 100%;
    width: 80%;
    height: auto;
  }
  .contenedor-inf {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .contenedor-inf-imagen {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .formulario {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80vw;
  }
}
@media screen and (max-width: 480px) {
  .background-inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80vw;
  }
  .seccion-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .card {
    flex: 1 0 calc(100% - 10px);
    margin: 10px;
  }
  .card img {
    width: 100% !important;
    height: auto;
  }
  .formulario {
    width: 90% !important;
  }
}
/* navbar */
header .logo {
  height: 50px;
  margin-left: 10px;
  margin-top: 5px;
}

.navbar.navbar-expand-lg {
  border-bottom: 1px solid red !important;
}

.navbar-nav {
  margin-left: auto !important;
  color: #ffffff !important;
}

/* footer */
footer {
  display: flex;
  position: relative;
}
footer .footer-conteiner {
  margin: 0 auto;
  padding: 20px;
  gap: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* inicio */
.background-inicio {
  background-image: url(../assets/backrground.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 90vh;
}
.background-inicio .inicio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.background-inicio .inicio h1 {
  margin-top: 60px;
  color: aliceblue;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 900;
  text-shadow: 1px 0px 19px rgba(0, 0, 0, 0.6);
}
.background-inicio .inicio button {
  padding: 10px;
  font-size: 20px;
  background-color: #090909;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
}
.background-inicio .inicio button a {
  color: aliceblue;
  text-decoration: none;
}

.madre {
  margin-top: 30px;
  font-size: 24px;
  color: #090909;
}

/* sobre nosotros */
a:hover {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

#pageHeaderTitle {
  margin: 2rem 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
}

/* Cards */
.postcard {
  flex-wrap: wrap;
  display: flex;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: #ffffff;
}
.postcard.light {
  background-color: #e1e5ea;
}
.postcard a {
  color: inherit;
}
.postcard h1,
.postcard .h1 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
.postcard .small {
  font-size: 80%;
}
.postcard .postcard__title {
  font-size: 1.75rem;
}
.postcard .postcard__img {
  max-height: 180px;
  width: 100%;
  object-fit: cover;
  position: relative;
}
.postcard .postcard__img_link {
  display: contents;
}
.postcard .postcard__bar {
  width: 50px;
  height: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #424242;
  transition: width 0.2s ease;
}
.postcard .postcard__text {
  padding: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  color: #18151f;
}
.postcard .postcard__preview-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  height: 100%;
}
.postcard .postcard__tagbox {
  display: flex;
  flex-flow: row wrap;
  font-size: 14px;
  margin: 20px 0 0 0;
  padding: 0;
  justify-content: center;
}
.postcard .postcard__tagbox .tag__item {
  display: inline-block;
  background: rgba(83, 83, 83, 0.4);
  border-radius: 3px;
  padding: 2.5px 10px;
  margin: 0 5px 5px 0;
  cursor: default;
  user-select: none;
  transition: background-color 0.3s;
}
.postcard .postcard__tagbox .tag__item:hover {
  background: rgba(83, 83, 83, 0.8);
}
.postcard:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(-70deg, #424242, transparent 50%);
  opacity: 1;
  border-radius: 10px;
}
.postcard:hover .postcard__bar {
  width: 100px;
}

@media screen and (min-width: 769px) {
  .postcard {
    flex-wrap: inherit;
  }
  .postcard .postcard__title {
    font-size: 2rem;
  }
  .postcard .postcard__tagbox {
    justify-content: start;
  }
  .postcard .postcard__img {
    max-width: 300px;
    max-height: 100%;
    transition: transform 0.3s ease;
  }
  .postcard .postcard__text {
    padding: 3rem;
    width: 100%;
  }
  .postcard .media.postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    background: #18151f;
    top: -20%;
    height: 130%;
    width: 55px;
  }
  .postcard:hover .postcard__img {
    transform: scale(1.1);
  }
  .postcard:nth-child(2n+1) {
    flex-direction: row;
  }
  .postcard:nth-child(2n+0) {
    flex-direction: row-reverse;
  }
  .postcard:nth-child(2n+1) .postcard__text::before {
    left: -12px !important;
    transform: rotate(4deg);
  }
  .postcard:nth-child(2n+0) .postcard__text::before {
    right: -12px !important;
    transform: rotate(-4deg);
  }
}
@media screen and (min-width: 1024px) {
  .postcard__text {
    padding: 2rem 3.5rem;
  }
  .postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    top: -20%;
    height: 130%;
    width: 55px;
  }
  .postcard.light .postcard__text:before {
    background: #e1e5ea;
  }
}
/* COLORS */
.postcard .postcard__tagbox .red.play:hover {
  background: #bd150b;
}

.red .postcard__title:hover {
  color: #bd150b;
}

.red .postcard__bar {
  background-color: #bd150b;
}

.red::before {
  background-image: linear-gradient(-30deg, rgba(189, 21, 11, 0.1), transparent 50%);
}

.red:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(189, 21, 11, 0.1), transparent 50%);
}

@media screen and (min-width: 769px) {
  .red::before {
    background-image: linear-gradient(-80deg, rgba(189, 21, 11, 0.1), transparent 50%);
  }
  .red:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(189, 21, 11, 0.1), transparent 50%);
  }
}
/* productos */
.seccion-productos {
  display: flex;
  justify-content: center;
}
.seccion-productos .card {
  margin: 4rem;
}

.contenedor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  max-width: 900px;
  gap: 10px;
  margin: 0 auto;
}
.contenedor .contenedor-img {
  height: 100%;
  width: 100%;
}
.contenedor .contenedor-img img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
}

.colorprodcutos {
  color: #ffffff;
}

/* contacto-main*/
.formulario {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 500px;
  text-align: center;
  padding: 40px;
  background-color: whitesmoke;
  margin: 40px auto;
}

/*seccion de promocion*/
.enpromo {
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
}

.slider-container {
  margin-top: 40px;
}

.titulo-dos {
  background-color: rgb(11, 11, 11);
  text-align: center;
  padding: 10px;
  margin-top: 35px;
}

.titulo-dos h2 {
  color: white;
}

.titulo-dos h2 {
  transform: scale(1);
  transition: transform 0.3s;
}

.titulo-dos:hover h2 {
  transform: scale(1.2);
}

/*# sourceMappingURL=main.css.map */
