/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background-general;
}
.container-fluid {
  display: flex;
  justify-content: space-between !important ;
}
