/* navbar */

header .logo {
  height: 50px;
  margin-left: 10px;
  margin-top: 5px;
}
.navbar.navbar-expand-lg {
  border-bottom: 1px solid red !important;
}
.navbar-nav {
  margin-left: auto !important;
  color: #ffffff !important;
}
