/* navbar */

.logo {
  font-size: 48px !important;
  font-weight: 500 !important;
}
.navbar.navbar-expand-lg {
  border-bottom: 1px solid red !important;
}
.navbar-nav {
  margin-left: auto !important;
  color: #ffffff !important;
}
